<!doctype html>
<html>
  <head>
    <title>login <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Register for <%=shopData.shopName%></h1>
    <form method="POST" action="loggedin">
        <p>Username: <input id="Username" type="text" name="username"/></p>
        <p>Password: <input id="Password" type="password" name="password"/></p>
        <input type="submit" value="login" />
      </form>
  </body>
</html>